{% extends 'base.html' %}
{% load static %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Monto</th>
            <th scope="col">Nro GD</th>
            <th scope="col">Estado GD</th>
            <th scope="col">Nro SS</th>
            <th scope="col">Estado SS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>John Doe</td>
            <td>21-05-2022</td>
            {% for i in productos %}
            <td>{{i.1}}</td>
            {% endfor %}
            <td>25000</td>
            <td>11</td>
            <td>Entregado</td>
            <td>111</td>
            <td>Cerrada</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

{% endblock body %}