{% extends 'base.html' %}
{% load static %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Monto</th>
            <th scope="col">Nro GD</th>
            <th scope="col">Estado GD</th>
        </tr>
        </thead>
        <tbody>
        {% for i in list %}
            
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.rut_cli.get_full_name}}</td>
            <td>{{i.fechafac}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.monto}}</td>
            
            <td>{{i.guiasdespacho_set.all.0.numeroGD}}</td>
            {% if i.guiasdespacho_set.all.0.estadogd == 'B' %}
            <td>En Bodega</td>
            {% elif i.guiasdespacho_set.all.0.estadogd == 'D' %}
            <td>Despachado</td>
            {% elif i.guiasdespacho_set.all.0.estadogd == 'E' %}
            <td>Entregado</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}