{% extends 'base.html' %}
{% load static %}

{% comment %} {% block stylesheet %}
    <link href="{% static 'core/css/iniciar_sesion.css'%}" rel="stylesheet">
{% endblock %} {% endcomment %}

{% block body %}
    <h1 style="text-align: center !important;">Iniciar Proceso de Pago</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6" style = "border: 2px solid gray; padding-top: 20px; padding-bottom:20px;">
                <form method="POST" action="{{ url_tbk }}">
                    <div class="centrar">
                        {% csrf_token %}

                        Número de Orden de Compra: {{ buy_order }}<br><br>
                        Nombre cliente: {{ first_name }} {{ last_name }}<br><br>
                        RUT: {{ rut }}<br><br>
                        Dirección: {{ direccion }}<br><br>
                        Correo electrónico: {{ email }}<br><br>
                        Monto a Pagar: {{ amount }}<br><br>

                        <input type="hidden" name="token_ws" value="{{ token_ws }}" />
                        <input type="submit" class="btn btn-primary" value="Ir a pagar">
                        {% if mesg %}
                        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}