{%extends 'base.html'%}
{% block body %}

<div class="container">
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{producto.imagen_producto}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body"><p class="fs-2">{{producto.nombre}}</p>
          <h5 class="card-title">Producto Disponible</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">CLP: {{producto.precio}}</li>
            <li class="list-group-item">USD: ? </li>
          </ul>
          <div class="card-text">
            <p>Descripci&oacute;n</p>
            <p>{{producto.nombre}}</p>
            <p>{{producto.descripcion}}</p>
            
          </div>
          <p class="card-text"><small class="text-muted">!Ultimas Unidades¡</small></p>
          <div class="card-footer">
            <div class="row-fluid">
              <button name="" id="" class="btn btn-primary" href="#" role="button">Comprar</button>
              {% comment %} <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir al carrito</a> {% endcomment %}
            </div>
            <!--<div>
                <a name="" id="" class="btn btn-primary" href="#" role="button">Comprar</a>
              </div>
              <div class="text-end">
                <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir al carrito</a>
              </div>-->
          </div>
        </div class="card-body">
      </div>
    </div>
  </div>
{% endblock body %}
