{%extends 'base.html'%}
{% block body %}

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.paris.cl/dw/image/v2/BCHW_PRD/on/demandware.static/-/Sites-cencosud-master-catalog/default/dwaf3b2584/images/imagenes-productos/720/232301-0000-001.jpg?sw=513&sh=654&sm=fit" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body"><p class="fs-2">Split Mural Samsung Inverter Frío-Calor 12.000 BTU. Modelo AR12TSFZAWK/ZS</p>
          <h5 class="card-title">Producto Disponible</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">CLP: $649.990</li>
            <li class="list-group-item">USD: $776,74 </li>
          </ul>
          <p class="card-text">Aire acondicionado Inverter 12.000 BTU Wifi Frío & Calor.
              <br>
              Descripcion
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Ancho: 29.9 cm</li>
                <li class="list-group-item">Profundidad: 21.5 cm</li>
                <li class="list-group-item">Cobertura: Hasta 15 m2</li>
                <li class="list-group-item">Potencia: Frío: 1060W / Calor: 940W</li>
                <li class="list-group-item">Eficiencia Energética: A</li>
              </ul>
          </p>
          <p class="card-text"><small class="text-muted">!Ultimas Unidades¡</small></p>
          <div class="card-footer">
            <div class="row-fluid">
              <a name="" id="" class="btn btn-primary" href="#" role="button">Comprar</a>
              <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir al carrito</a>
            </div>
            <!--<div>
                <a name="" id="" class="btn btn-primary" href="#" role="button">Comprar</a>
              </div>
              <div class="text-end">
                <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir al carrito</a>
              </div>-->
          </div>
        </div class="card-body">
      </div>
    </div>
  </div>
{% endblock body %}
