{% load static %}
<!DOCTYPE html>
    <html lang="es">
    
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie">
      <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
      <link rel="stylesheet" href="{% static 'css/login.css' %}" />
      <title>Inicio de sesión y registro</title>
    </head>
    
    <body>
      <div class="container" id="fondo">
        <div class="forms-container">
          <div class="signin-signup">
            <form method="POST" class="sign-in-form" name="sign-in-f" value="signinf">
              {% csrf_token %}
              <h2 class="title">Inicio sesi&oacute;n</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nombre de usuario" name="username" required />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña" name="password" required />
              </div>
              <button name="submit" type="submit" id="Btnlogin" class="btn" value="sign_in">Iniciar sesi&oacute;n</button>
            </form>
            <form method="POST" class="sign-up-form" name="sign-up-f" action="">
              {% csrf_token %}
              <h2 class="title">Registro</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                {{form.username}}
              </div>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                {{form.email}}
              </div>
              <div class="input-field">
                <i class="bi bi-house-door-fill"></i>
                {{form.dirusu}}
              </div>
              <div class="input-field">
                <i class="bi bi-person-lines-fill"></i>
                {{form.rut}}
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                {{form.password1}}
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                {{form.password2}}
              </div>
              {% if form.errors %}
                {{form.errors}}
              {% endif %}
              <button name="submit" type="submit" class="btn" value="sign_up">Registrarse</button>
            </form>
          </div>
        </div>
    
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <h3>¿Nuevo aqu&iacute;?</h3>
              <p></p>
              <button class="btn transparent" id="sign-up-btn">
                Registrate
              </button>
            </div>
            <img src="#" class="image" alt="" />
          </div>
          <div class="panel right-panel">
            <div class="content">
              <h3>¿Ya estas registrado?</h3>
              <p></p>
              <button class="btn transparent" id="sign-in-btn">
                Iniciar sesi&oacute;n
              </button>
            </div>
            <img src="#" class="image" alt="" />
          </div>
        </div>
      </div>
    
      <script src="{% static 'js/login.js' %}"></script>
      <script>
        var form = document.getElementsByTagName('input');
        form[8].placeholder = 'Contraseña';
        form[9].placeholder = 'Repetir contraseña';
        form[8].setAttribute("oninput", "comprobarPassword(this)")
      </script>
      <script>
        function comprobarRut(rut){
          // Despejar Puntos
          var valor = rut.value.replace('.','');
          // Despejar Guión
          valor = valor.replace('-','');
          
          // Aislar Cuerpo y Dígito Verificador
          cuerpo = valor.slice(0,-1);
          dv = valor.slice(-1).toUpperCase();
          
          // Formatear RUN
          rut.value = cuerpo + '-'+ dv
          
          // Si no cumple con el mínimo ej. (n.nnn.nnn)
          if(cuerpo.length < 7) { rut.setCustomValidity("RUT Incompleto"); return false;}
          
          // Calcular Dígito Verificador
          suma = 0;
          multiplo = 2;
          
          // Para cada dígito del Cuerpo
          for(i=1;i<=cuerpo.length;i++) {
          
              // Obtener su Producto con el Múltiplo Correspondiente
              index = multiplo * valor.charAt(cuerpo.length - i);
              
              // Sumar al Contador General
              suma = suma + index;
              
              // Consolidar Múltiplo dentro del rango [2,7]
              if(multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }
        
          }
          
          // Calcular Dígito Verificador en base al Módulo 11
          dvEsperado = 11 - (suma % 11);
          
          // Casos Especiales (0 y K)
          dv = (dv == 'K')?10:dv;
          dv = (dv == 0)?11:dv;
          
          // Validar que el Cuerpo coincide con su Dígito Verificador
          if(dvEsperado != dv) { rut.setCustomValidity("RUT Inválido"); return false; }
          
          // Si todo sale bien, eliminar errores (decretar que es válido)
          rut.setCustomValidity('');
        }
      </script>
    </body>
    
    </html>