{% extends 'base.html' %}
{% load static %}

{% comment %} {% block css %}
    <link href="{% static 'core/css/iniciar_sesion.css'%}" rel="stylesheet">
{% endblock css %} {% endcomment %}

{% block body %}
    <h1 style="text-align: center !important;">¡El Pago fue Realizado con Exito!</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center" style = "border: 2px solid gray; padding-top: 20px; padding-bottom:20px;">
                {% csrf_token %}

                Número de Orden de Compra: {{ buy_order }}<br><br>
                Nombre cliente: {{ first_name }} {{ last_name }}<br><br>
                RUT: {{ rut }}<br><br>
                Dirección: {{ direccion }}<br><br>
                Correo electrónico: {{ email }}<br><br>
                Monto a Pagar: {{ amount }}<br><br>

                <a href="{% url 'home' %}" class="btn btn-info btn-sm">Volver</a>
            </div>
        </div>
    </div>
{% endblock body %}