{%extends 'base.html'%}
{% block body %}

<div class="container">
    <p class="fs-1">Ingrese una solicitud de servicio</p>

<div class="container">
    <form>
        <fieldset disabled>
            <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Precio de la venta</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="$25.000">
          </div>
        </fieldset>
          <label for="TextInput" class="form-label">Tipo de solicitud</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>seleccionar...</option>
            <option value="1">Mantencion</option>
            <option value="2">Reparacion</option>
          </select>
    </form>
          
    

  
 
     



 
  {% endblock body %}