{% extends 'base.html' %}
{% load static %}

{% block body %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">tipo SS</th>
        <th scope="col">Fecha visita</th>
        <th scope="col">Hora visita</th>
        <th scope="col">Técnico</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado SS</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        {% for i in solicitudes %}
            <td>{{i.rut_cli.first_name}}</td>
            {% if i.tipo_servicio == 'R' %}
            <td>Reparacion</td>
            {% else %}
            <td>Mantencion</td>
            {% endif %}
            <td>{{i.fecha_hora_visita_solicitada}}</td>
            <td>{{i.hora_visita_solicitada}}</td>
            <td>{{i.rut_tec.first_name}}</td>
            <td>{{i.descripcion_requerimiento}}</td>
            {% if i.estado_ss == 'FA' %}
            <td>Fecha Aceptada</td>
            {% elif i.estado_ss == 'NFP' %}
            <td>Nueva fecha propuesta</td>
            {% elif i.estado_ss == 'FVA'%}
            <td>Fecha acordada</td>
            {% else %}
            <td>Servicio realizado</td>
            {% endif %}
            <td><a href="#">Aceptar</a> <button class="btn btn-primary" onclick="abrir_modal_edicion('{% url 'UpdateSolicitud' i.numeross %}')" >Modificar</button> <a href="#">Cerrar</a></td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <a href="{% url 'sds' %}" type="button" class="btn btn-primary">
        Ingresar nueva solicitud de servicio
    </a>
</div>
{% comment %} <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Modificar</a> {% endcomment %}
<!-- Modal -->
{% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <!--{{form.as_p}}-->
                    <label for="nombres" class="col-sm-2 col-form-label">h</label>
                    <input type="text" class="form-control" id="Nombre_change" value="">
                    <label for="apellidos" class="col-sm-2 col-form-label">j</label>
                    <input type="text" class="form-control" id="apellidos" value="">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit">Modificar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div> {% endcomment %}
<div class="modal fade" id="edicion" role="dialog">

</div>
{% block javascript %} 
    <script type="text/javascript">
        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function(){
                $(this).modal('show');
            })
        }
    </script>
{% endblock javascript %}
{% endblock body %}